.container_small-card {
  width: 700px;
  margin-bottom: 15px;
}

.container_small-card-content {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centraliza verticalmente a imagem e o texto */
}

.small-card_photo > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card_title {
  display: flex;
  align-items: center; /* Centraliza o texto verticalmente */
}

.small-card_title > h1 {
  font-size: 30px;
  margin: 0; /* Remove margens padrão do h1 */
}

.container_small-card-separator {
  margin-top: 10px;
}
