.container_menu-bar ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.container_menu-bar ul li {
  list-style: none;
}

.container_menu-bar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #007bff;
  transition: color 0.3s ease;
}

.container_menu-bar ul li a:hover {
  color: #0056b3;
}
