<div class="container_menu-card">

  <div class="menu-card_photo">
    <img src="https://s2.glbimg.com/2QnEImPirqci_2qnvpXlvHeYwIk=/620x350/e.glbimg.com/og/ed/f/original/2019/04/26/1.jpg"
    alt=""
    height="200px"
    srcset=""
    >
  </div>
  <div class="menu-title">
    <h1><a href="#"> Saiu a nova sersão</a> </h1>
  </div>
  <div class="menu-card_description">
    <p>
        <a href="#">
          qualquer coisa asada asdad aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </a>
    </p>

  </div>
</div>
